---
title: GradeCalc
description: A simple grade calculator to compute the grade you have, as well as the grade you need to get the grade you want.
---

.jumbotron
  .container
    .row
      .col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10
        h1 GradeCalc
        p 
          | A simple grade calculator to figure out what you need to get that A (or B?)

.container
  .row
    .js-alert.alert.alert-warning You must have Javascript enabled to use this page!
    .col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10
      form#gradeForm role="form"
        .row
          .form-group.col-sm-6
            label for="currentGrade" Your Current Grade:
            input#currentGrade type="number" class="form-control" value="86" placeholder="100" min="0"
          .form-group.col-sm-6
            label for="currentGradeOutOf" Out of:
            input#currentGradeOutOf type="number" class="form-control" value="100" placeholder="100" min="1"
        hr
        .row
          .form-group.col-sm-6
            label for="finalWeight" Weight of Remaining Work / Final:
            input#finalWeight type="number" class="form-control" value="35" placeholder="35" min="0"
          .form-group.col-sm-6
            label for="finalWeightOutOf" Out of:
            input#finalWeightOutOf type="number" class="form-control" value="100" placeholder="100" min="1"
        hr
        .row
          .form-group.col-sm-6
            label for="desiredGrade" Desired Grade:
            input#desiredGrade type="number" class="form-control" value="90" placeholder="90" min="0"
          .form-group.col-sm-6
            label for="desiredGradeOutOf" Out of:
            input#desiredGradeOutOf type="number" class="form-control" value="100" placeholder="100" min="1"
        hr
        #results.text-center
          p.lead.noError
            | Your current grade is 
            strong.currentGrade ???
            strong="/"
            strong.currentGradeOutOf ???
            |  (
            strong.currentGradePC ???
            strong="%"
            | ).
          hr.noError
          p.lead.noError
            | You need to earn at least 
            strong.neededForFinal ???
            strong="/"
            strong.finalWeight ???
            |  (
            strong.neededForFinalPC ???
            strong="%"
            | ) on your remaining work to have an overall grade of  
            strong.desiredGrade ???
            strong="/"
            strong.desiredGradeOutOf ???
            |  (
            strong.desiredGradePC ???
            strong="%"
            | ).
          hr.noError
          p.lead.noError
            | If you score 100% on your remaining work, you will have an overall grade of 
            strong.perfectFinal ???
            strong="/"
            strong.desiredGradeOutOf ???
            |  (
            strong.perfectFinalPC ???
            strong="%"
            | ).
          .error
            | Check to make sure all fields are filled in correctly.
        hr
        .text-center
          .fb-share-button data-href="http://gradecalc.stevenclontz.com" data-type="button_count"
        p 
          | Made by 
          a href="http://www.stevenclontz.com" Steven Clontz
          |  (Github: 
          a href="http://github.com/StevenClontz/GradeCalc" @StevenClontz
          | )
        p
          small
            span.deadday
            | Note: Your instructor may round fractions differently.


coffee:
  jQuery ->
    $('.js-alert').addClass("hidden")

    updateResults = ->
      gradeForm = $("#gradeForm")
      currentGrade = parseFloat $(gradeForm).find("#currentGrade").val()
      finalWeight = parseFloat $(gradeForm).find("#finalWeight").val()
      desiredGrade = parseFloat $(gradeForm).find("#desiredGrade").val()
      currentGradeOutOf = parseFloat $(gradeForm).find("#currentGradeOutOf").val()
      finalWeightOutOf = parseFloat $(gradeForm).find("#finalWeightOutOf").val()
      desiredGradeOutOf = parseFloat $(gradeForm).find("#desiredGradeOutOf").val()

      currentGradePC = currentGrade/currentGradeOutOf
      finalWeightPC = finalWeight/finalWeightOutOf
      desiredGradePC = desiredGrade/desiredGradeOutOf

      currentWeightPC = 1-finalWeightPC

      neededForFinalPC = Math.max((desiredGradePC-currentGradePC*currentWeightPC)/finalWeightPC,0)
      neededForFinal = neededForFinalPC*finalWeight

      perfectFinalPC = currentGradePC*currentWeightPC+finalWeightPC
      perfectFinal = perfectFinalPC*desiredGradeOutOf

      if isNaN(neededForFinal) or currentGradeOutOf <= 0 or finalWeightOutOf <= 0 or desiredGradeOutOf <= 0
        $("#results .noError").addClass("hidden")
        $("#results .error").removeClass("hidden")
      else
        $("#results .noError").removeClass("hidden")
        $("#results .error").addClass("hidden")

        $("#results .neededForFinal").text(neededForFinal.toFixed(1))
        $("#results .finalWeight").text(finalWeight.toFixed(0))
        $("#results .neededForFinalPC").text((neededForFinalPC*100).toFixed(1))
        $("#results .desiredGrade").text(desiredGrade.toFixed(1))
        $("#results .desiredGradeOutOf").text(desiredGradeOutOf.toFixed(0))
        $("#results .desiredGradePC").text((desiredGradePC*100).toFixed(1))
        $("#results .currentGrade").text(currentGrade.toFixed(1))
        $("#results .currentGradeOutOf").text(currentGradeOutOf.toFixed(0))
        $("#results .currentGradePC").text((currentGradePC*100).toFixed(1))
        $("#results .perfectFinal").text(perfectFinal.toFixed(1))
        $("#results .perfectFinalPC").text((perfectFinalPC*100).toFixed(1))

    updateResults()

    $('#gradeForm input').change ->
      updateResults()

    if document.referrer == "http://www.auburn.edu/~clontsc/deadday.php"
      $(".deadday").text('Formerly known as the "Dead Day Grade Calculator". ')



